body{
    background-color: #C4C4C4;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-size: cover;
}

header {
    background-color:#1C1A89;
    margin-right: 0px;
    text-decoration: none;
    margin-top: -0px;
    height: 100px;
    
}

#navbar {
    float: right;       
    padding: 5px;
    margin-top: -50px;
   
   }

.header{
	margin-top: 0px;
	/*padding: 20px;*/
	text-align: center;
	margin-left: -100px;
	color:#1C1A89;

}
.text1{
	margin-top: 0px;
	padding: 20px;
	margin-left: 15px;

}
.text2{
	text-decoration: none;	
}


.login{
	margin-right: auto;
	margin-left: -100px;
	position: relative;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	
	
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #1C1A89;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #1C1A89;
	border: 2px solid#1C1A89;
	cursor: pointer;
	border-radius: 2px;
	color: whitesmoke;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 0px;
	margin-top: 0px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: #1C1A89;
}

::-moz-input-placeholder{
   color: #1C1A89;
}

footer {
    background-color:#1C1A89;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 300px;
    height: 90px;
    text-decoration: none;
}